<main class='main'>

  {{#with data}}
    <form method="POST" action="/purchase-update-submit?id={{id}}" class="form-card">
        {{> heading title="Зміна даних"}}

      <div class="info_line">
        <div class="info-item">
          <div class="hr">ID:</div>
          <div>{{id}}</div>
        </div> 
      </div>

      <div class="card__line">
        {{> field label="Прізвище" name="lastname" value=lastname}}

        {{> field label="Ім'я" name="firstname" value=firstname}}
      </div>

      <div class="card__line">

        {{> field label="Пошта" name="email" value=email}}

        {{> field label="Телефон" name="phone" value=phone}}

      </div>
      
        {{> button text="Зберегти зміни"}}
      
    </form>

  {{/with}}

</main>

