{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='box'>
  <h1 class='box__title'>{{title}}</h1>
  <p>{{info}}</p>
  <a
    href='/product-list'
    class='box__button click'
  >Повернутись назад</a>

</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}